@import "https://fonts.googleapis.com/css?family=PT+Sans";
body, *, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  background: rgba(42, 44, 43, 0.9);
  color: white;
}

a {
  text-decoration: none;
  color: #CBCCC7;
  text-transform: uppercase;
}

.landing {
  background: url(../../asset/bg.jpeg) no-repeat center center;
  background-size: cover;
  background-blend-mode: difference;
  filter: grayscale(25%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .landing {
    background-position: 28% center;
  }
}
.landing .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
}
.landing-title {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background: black;
  border-radius: 50%;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-title h1, .landing-title h2 {
  z-index: 2;
  font-weight: lighter;
  text-align: center;
  font-family: "PT Sans", monospace;
}
.landing-title h1 {
  font-size: 28px;
  letter-spacing: 1.2px;
  font-weight: normal;
  padding: 46px 61px 10px;
  position: relative;
}
.landing-title h1::after {
  content: "";
  display: block;
  width: 35%;
  height: 2px;
  border-bottom: 1px solid white;
  position: absolute;
  left: 0;
  margin: 15px 0 20px 80px;
}
.landing-title h2 {
  font-size: 16px;
  margin: 30px auto 0;
  font-style: italic;
}
.landing .fa {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 55px;
  animation: arrow-down 2s infinite ease-in-out;
  cursor: pointer;
}
.landing .fa::before {
  font-size: 40px;
}

.workship .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 300px;
}
@media only screen and (max-width: 1366px) {
  .workship .grid {
    padding: 1rem 100px;
  }
}
@media only screen and (max-width: 940px) {
  .workship .grid {
    padding: 1rem;
  }
}
.workship .grid .item {
  margin: 0 25px 25px 0;
  flex: 1 0 23%;
  width: 200px;
  height: 230px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  filter: contrast(85%);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
@media only screen and (max-width: 1366px) {
  .workship .grid .item {
    flex: 1 0 30%;
  }
}
@media only screen and (max-width: 940px) {
  .workship .grid .item {
    flex: 1 0 46%;
  }
  .workship .grid .item:nth-child(2n) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 375px) {
  .workship .grid .item {
    flex: 1 0 100%;
    margin: 0 0 25px 0;
  }
}
.workship .grid .item:nth-child(4n) {
  margin: 0;
}
@media only screen and (max-width: 1366px) {
  .workship .grid .item:nth-child(4n) {
    margin: 0 25px 25px 0;
  }
}
@media only screen and (max-width: 940px) {
  .workship .grid .item:nth-child(4n) {
    margin-right: 0;
  }
}
.workship .grid .item:nth-child(n+5) {
  margin-bottom: 0;
}
@media only screen and (max-width: 940px) {
  .workship .grid .item:nth-child(n+5) {
    margin-bottom: 25px;
  }
}
.workship .grid .item:hover {
  filter: contrast(100%);
}
.workship .grid .item-1 {
  background: url(../../asset/item1.png) no-repeat center center;
  background-size: cover;
}
.workship .grid .item-2 {
  background: url(../../asset/item2.png) no-repeat center center;
  background-size: cover;
}
.workship .grid .item-3 {
  background: url(../../asset/item3.png) no-repeat center center;
  background-size: cover;
}
.workship .grid .item-4 {
  background: url(../../asset/item4.png) no-repeat center center;
  background-size: cover;
}
.workship .grid .item-5 {
  background: white url(https://images.weserv.nl/?url=//i.imgur.com/qypnNxk.png&il) no-repeat center center;
  background-size: contain;
}
.workship .grid .item-6 {
  background: #D1AD75 url(../../asset/item6.png) no-repeat center center;
  background-size: contain;
}
.workship .grid .item-7 {
  background: #A1D7D9 url(https://images.weserv.nl/?url=//i.imgur.com/6Xk3iAn.png&il) no-repeat center center;
  background-size: contain;
}
.workship .grid .item-8 {
  background: url(../../asset/item8.png) no-repeat top center;
  background-size: cover;
}

.btn {
  position: relative;
  margin: 0 auto;
  width: 10em;
  color: #78FFCD;
  border: 0.15em solid #78FFCD;
  border-radius: 5em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  line-height: 2em;
  cursor: pointer;
  font-family: "PT Sans", monospace;
}
.btn .dot {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 20%;
  height: 100%;
  border-radius: 100%;
  transition: all 300ms ease;
  opacity: 0;
}
.btn .dot::after {
  content: "";
  position: absolute;
  left: calc(50% - .4em);
  top: -0.4em;
  height: 0.8em;
  width: 0.8em;
  background: #78FFCD;
  border-radius: 1em;
  border: 0.25em solid white;
  box-shadow: 0 0 0.7em white, 0 0 2em #78FFCD;
}
.btn:hover .dot {
  animation: atom 2s infinite linear;
  opacity: 1;
}

footer {
  padding: 20px 0;
  background: #2D2C2A;
  display: flex;
  justify-content: center;
  font-family: "PT Sans", monospace;
}
footer a:last-child {
  margin-right: 0;
}
footer a i {
  color: #CBCCC7;
  margin-right: 15px;
  transition: color 0.4s ease;
}
footer a i:hover {
  color: #eaeae8;
}
footer a > i::before {
  font-size: 27px;
}

@keyframes atom {
  0% {
    transform: translateX(0) rotate(0);
  }
  25% {
    transform: translateX(400%) rotate(0);
  }
  50% {
    transform: translateX(400%) rotate(180deg);
  }
  75% {
    transform: translateX(0) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
